<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>户外工具</string>
	<string>活动中心</string>
	<string>户外新闻</string>
	<string>个人中心</string>
	<string>户外交流</string>
</array>
</plist>
